.primary-color{
    -fx-background-color: #F3F3F3;
}


.button{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #FF0000;
    -fx-background-radius: 23;
    -fx-effect: dropshadow( gaussian, rgba(0,0,0,0.7), 4,0,0,3);
    -fx-alternative-column-fill-visible: true;
}

.button:armed {
    -fx-color: -fx-pressed-base;
}


.text-input{
    -fx-background-color: #ffffff;
}