.root {
    -fx-font-family: Roboto, Arial;
    -fx-font-size: 12px;
}

.actionButton {
    -fx-padding: 5px;
    -fx-background-radius: 25px;
    -fx-background-color: #F5F3F4;
    -fx-border-radius: 25px;
    -fx-border-color: #E32636;
    -fx-cursor: hand;
}

#searchBox {
    -fx-padding: 5px;
    -fx-background-radius: 25px;
    -fx-background-color: #F5F3F4;
    -fx-border-radius: 25px;
    -fx-border-color: #0B090A;
}

#searchBox:focused {
    -fx-border-color: #E32636;
}

#moreButton {
    -fx-shape: "M21 6H3V5h18v1zm0 5H3v1h18v-1zm0 6H3v1h18v-1z";
    -fx-border-color: #000000;
}

#helpButton {
    -fx-shape: "M15.36 9.96c0 1.09-.67 1.67-1.31 2.24-.53.47-1.03.9-1.16 1.6l-.04.2H11.1l.03-.28c.14-1.17.8-1.76 1.47-2.27.52-.4 1.01-.77 1.01-1.49 0-.51-.23-.97-.63-1.29-.4-.31-.92-.42-1.42-.29-.59.15-1.05.67-1.19 1.34l-.05.28H8.57l.06-.42c.2-1.4 1.15-2.53 2.42-2.87 1.05-.29 2.14-.08 2.98.57.85.64 1.33 1.62 1.33 2.68zM12 18c.55 0 1-.45 1-1s-.45-1-1-1-1 .45-1 1 .45 1 1 1zm0-15c-4.96 0-9 4.04-9 9s4.04 9 9 9 9-4.04 9-9-4.04-9-9-9m0-1c5.52 0 10 4.48 10 10s-4.48 10-10 10S2 17.52 2 12 6.48 2 12 2z";
}

#helpButton:pressed {
    -fx-border-color: #BA181B;
}

#createButton {
    -fx-border-color: #0B090A;
}

#profileView {
    -fx-shape: "M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z";
}

#profileView:hover {
    -fx-background-color: #E32636;
}

.sideBox {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.sideBox:hover {
    -fx-background-color: #E5383B;
}

.sideBox:pressed {
    -fx-background-color: #E32636;
}

.sideButton {
    -fx-background-color: #F5F3F4;
    -fx-border-color: #0B090A;
    -fx-border-width: 2px;
}

.sideButton:focused {
    -fx-border-color: #E5383B;
}

#dashboardButton {
    -fx-shape: "M10 16V20H4V16H10ZM11 15H3V21H11V15ZM20 4V8H14V4H20ZM21 3H13V9H21V3ZM3 3V13H11V3H3ZM10 12H4V4H10V12ZM13 11V21H21V11H13ZM20 20H14V12H20V20Z";
}

#contentButton {
    -fx-shape: "M11 6.99982V13.9998L17 10.4998L11 6.99982ZM18 20.9998H3V5.99982H4V19.9998H18V20.9998ZM21 2.99982H6V17.9998H21V2.99982ZM7 3.99982H20V16.9998H7V3.99982Z";
}

#settingsButton {
    -fx-shape: "M12 9.5c1.38 0 2.5 1.12 2.5 2.5s-1.12 2.5-2.5 2.5-2.5-1.12-2.5-2.5 1.12-2.5 2.5-2.5m0-1c-1.93 0-3.5 1.57-3.5 3.5s1.57 3.5 3.5 3.5 3.5-1.57 3.5-3.5-1.57-3.5-3.5-3.5zM13.22 3l.55 2.2.13.51.5.18c.61.23 1.19.56 1.72.98l.4.32.5-.14 2.17-.62 1.22 2.11-1.63 1.59-.37.36.08.51c.05.32.08.64.08.98s-.03.66-.08.98l-.08.51.37.36 1.63 1.59-1.22 2.11-2.17-.62-.5-.14-.4.32c-.53.43-1.11.76-1.72.98l-.5.18-.13.51-.55 2.24h-2.44l-.55-2.2-.13-.51-.5-.18c-.6-.23-1.18-.56-1.72-.99l-.4-.32-.5.14-2.17.62-1.21-2.12 1.63-1.59.37-.36-.08-.51c-.05-.32-.08-.65-.08-.98s.03-.66.08-.98l.08-.51-.37-.36L3.6 8.56l1.22-2.11 2.17.62.5.14.4-.32c.53-.44 1.11-.77 1.72-.99l.5-.18.13-.51.54-2.21h2.44M14 2h-4l-.74 2.96c-.73.27-1.4.66-2 1.14l-2.92-.83-2 3.46 2.19 2.13c-.06.37-.09.75-.09 1.14s.03.77.09 1.14l-2.19 2.13 2 3.46 2.92-.83c.6.48 1.27.87 2 1.14L10 22h4l.74-2.96c.73-.27 1.4-.66 2-1.14l2.92.83 2-3.46-2.19-2.13c.06-.37.09-.75.09-1.14s-.03-.77-.09-1.14l2.19-2.13-2-3.46-2.92.83c-.6-.48-1.27-.87-2-1.14L14 2z";
}

#returnButton {
    -fx-shape: "m12 4.44 7 6.09V20h-4v-6H9v6H5v-9.47l7-6.09m0-1.32-8 6.96V21h6v-6h4v6h6V10.08l-8-6.96z";
}
