#backGround {
    -fx-background-color: linear-gradient(to right top, #000000, #420f1d, #820327, #c20023, #ff0000);
    -fx-font-family: Avantgarde;
}

#mainForm {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.5, 0, 0);
}

.textLabel {
    -fx-font-size: 18px;
}

#signInTitle {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.inputBox {
    -fx-padding: 10px;
    -fx-background-radius: 25px;
    -fx-background-color: #f0f0f0;
    -fx-border-radius: 25px;
    -fx-border-color: #e32636;
    -fx-font-size: 14px;
}

.actionButton {
    -fx-padding: 10px;
    -fx-background-radius: 25px;
    -fx-background-color: #f5f5f5;
    -fx-border-radius: 25px;
    -fx-border-color: #e32636;
    -fx-font-size: 14px;
}

.actionButton:hover {
    -fx-background-color: #e32636;
}

.actionButton:pressed {
    -fx-background-color: #ba0021;
    -fx-border-color: #ba0021;
}

#sideLogo {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 0);
    -fx-rotate: -10deg;
    -fx-translate-z: 20px;
    -fx-perspective: 1000px;
}

#returnButton {
    -fx-padding: 10px;
    -fx-background-radius: 25px;
    -fx-border: none;
    -fx-font-size: 14px;
    -fx-shape: "M563.2 715.946667a33.9968 33.9968 0 0 1-24.132267-10.001067l-170.666666-170.666667a34.133333 34.133333 0 0 1 0-48.264533l170.666666-170.666667a34.133333 34.133333 0 1 1 48.264534 48.264534l-146.517334 146.5344 146.517334 146.5344A34.133333 34.133333 0 0 1 563.2 715.946667z";
}
