#mainPanel {
    -fx-font-family: Roboto, Arial;
}

#searchBox {
    -fx-padding: 10px;
    -fx-background-radius: 25px;
    -fx-background-color: #f0f0f0;
    -fx-border-radius: 25px;
    -fx-border-color: #ff2400;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #aaa;
}

#searchBox:focused {
    -fx-border-color: #f40009;
}

#searchButton {
    -fx-background-color: #ff2400;
    -fx-background-radius: 25px;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border: none;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.5, 0, 0);
}

#searchButton:hover {
    -fx-background-color: #f40009;
}

#searchButton:pressed {
    -fx-background-color: #d2122e;
}

#signInButton {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 25px;
    -fx-font-size: 14px;
    -fx-padding: 10px;
    -fx-border-color: #ff2400;
    -fx-border-radius: 25px;
    -fx-cursor: hand;
}

#signInButton:hover {
    -fx-background-color: #ff2400;
}

#signInButton:pressed {
    -fx-background-color: #d2122e;
    -fx-border-color: #d2122e;
}
